<h1>StaticPages#about</h1>
<% @users.each do |user| %>
  <table>
  <tr>
    <td><%= user.email %></td>
  </tr>
</table>
<% end %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
