
<div id = "recomand">
  <h2> 雰囲気から選ぶ</h2>
  <div class = "moods">
  <div class="row">
        <div class = "sunrise-image">
        </div>
      <div class = "mood-title">
        <h3> "Sunrise"</h3>
      </div>
        <div class="col-md-4">
          <div class = "thumnail"><a href = "/1"><img = src = "/images/thumnail/1.png"></a> </div>
          <div class = "time"><p>06:00</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Kanagawa,Haneda</p></div>
        </div>
        <div class="col-md-4">
          <div class = "thumnail"><a href = "/277"><img = src = "/images/thumnail/277.png"></a> </div>
          <div class = "time"><p>06:15</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Kanagawa,Jougashima</p></div>
        </div>
        <div class="col-md-4" >
          <div class = "thumnail"><a href = "/2"><img = src = "/images/thumnail/2.png"></a> </div>
          <div class = "time"><p>06:05</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Tokyo,Koukyo-mae</p></div>
        </div>
      </div>
    </div>

    <div class = "moods">
  <div class="row">
        <div class = "nightcity-image">
        </div>
      <div class = "mood-title">
        <h3> "Night City"</h3>
      </div>
        <div class="col-md-4">
          <div class = "thumnail"><a href = "/157"><img = src = "/images/thumnail/157.png"></a> </div>
          <div class = "time"><p>19:00</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Tokyo,America-yokochou</p></div>
        </div>
        <div class="col-md-4">
          <div class = "thumnail"><a href = "/169"><img = src = "/images/thumnail/169.png"></a> </div>
          <div class = "time"><p>20:00</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Tokyo,Shibuya</p></div>
        </div>
        <div class="col-md-4" >
          <div class = "thumnail"><a href = "/260"><img = src = "/images/thumnail/260.png"></a> </div>
          <div class = "time"><p>03:35</p></div>
          <div class = "director"><p>Directed by walking junkie</p></div>
          <div class = "address"><p>Japan,Tokyo,Shinjuku</p></div>
        </div>
      </div>
    </div>



</div>