
<div class="container-fluid">
    <li ><a href="/users/sign_in">Sign in <span class="sr-only">(current)</span></a></li>
    <h1>New item</h1>

    <%= render 'form' %>

    <%= link_to 'Back', items_path %>
</div>