/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /****************************
header
****************************/
#header{
  background-color: black;
}

#header h1{

  font-size:44px;
  color:white;
  margin:0px;
  padding:0px;
}

#header img{
  margin:12px 0  10px 40px ;
  height:40px;
}


 /****************************
サインアップ画面の設定
****************************/
#signup {
  overflow:hidden; 
  height:100%;
  background-image: url('/images/bg/sign_up_bg.png');
  background-size: cover;
}
#signup h2{
  margin-top :0px;
  padding-top:50px;
}


#signup-logo {
  width:400px;
  margin: 0 auto;  
}


#signup-logo img{
    width:400px;
}

#signup .actions{
  width:125px;
  margin:10px auto;
}

#signup .field {
  width:250px;
    margin: 0 auto;
}

#facebook-logo{
  width:155px;
  margin:10px auto 20px auto;
}

#facebook-logo a:hover{
  background-color: white;
}

 /****************************
サインイン画面の設定
****************************/
#signin {
  overflow:hidden; 
  height:100%;
  background-image: url('/images/bg/sign_in_bg.png');
  background-size: cover;
}

#signin h2{
  margin-top :0px;
  padding-top:50px;
}


#signin .actions{
  width:100px;
  margin:20px auto;
}

#signin .field {
  width:250px;
    margin: 7px auto;
}

#facebook-logo-signin{
  width:140px;
  margin:30px auto 20px auto;
}

#facebook-logo-signin a:hover{
  background-color: white;
}



 /****************************
エラーポップアップ
****************************/


#error_explanation {
  margin: 30px auto;
}

#error_explanation h2{
  padding-top: 0px;
  margin-top:0;

}





